.popUp {
  height: 100vh;
  width: 100vw;
  background-color: rgba(77, 76, 76, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  overflow-y: scroll;
}

.popUp.active {
  opacity: 1;
  pointer-events: all;

  background-color: rgb(65, 65, 65, 0.3);
}

.popUp__content {
  padding: 20px;
  padding-left: 40px;
  border-radius: 10px;
  height: auto;
  width: 95%;
  background-color: #fff;
}

.popUp__content.active {
  opacity: 1;
  pointer-events: all;
}

ul.switch {
  width: 20%;
  margin: 0 auto 0.5rem;
  display: flex;
  color: rgb(54, 60, 92);
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(54, 60, 92);
  border-radius: 0.5rem;
  padding-left: 0px;
}
ul.switch li {
  width: 50%;
  padding: 0.5rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
ul.switch li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
ul.switch li:hover {
  background: rgb(54, 60, 92, 0.1);
}
ul.switch li.active {
  color: #fff;
  background: rgb(54, 60, 92);
}

.header {
  color: rgb(53, 59, 91);
  text-align: center;
  font-size: 3rem;
}

.subheader {
  color: rgb(195, 195, 197);
  text-align: center;
  font-size: 1rem;
}

.FirstSwitch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-label {
  font-size: 12px;
  color: rgb(195, 195, 197);
}

#form-input {
  background-color: rgb(243, 246, 251);
}

#btn-upload {
  color: rgb(107, 132, 214);
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0px 0px 0px;
  right: 0;
  cursor: pointer;
  position: absolute;
  top: 25%;
  transform: translate(100%, 0px);
}
#btn-upload:hover {
  color: rgb(91, 102, 136);
}

#btn-submit {
  background: linear-gradient(to right, rgb(201, 81, 81), rgb(134, 93, 182));
  border: linear-gradient(to right, rgb(201, 81, 81), rgb(134, 93, 182));
  box-shadow: 0px 0px 0px;
  margin-top: 30px;
  width: 25%;
}

#btn-submit:hover {
  box-shadow: 0px 0px 10px red;
}

@media screen and (max-width: 1140px) {
  .FirstSwitch {
    flex-direction: column;
  }
  #btn-upload {
    transform: translate(-25%, 0);
  }

  ul.switch {
    width: 40%;
  }
  .popUp__content {
    padding-left: 0px;
    width: 100%;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  display: none;
}
